<%= form_for(@microhowl) do |f| %>
  <% if @microhowl.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@microhowl.errors.count, "error") %> prohibited this microhowl from being saved:</h2>

      <ul>
      <% @microhowl.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_field :content %>
  </div>
  <div class="field">
    <%= f.label :werewolf_id %><br />
    <%= f.text_field :werewolf_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
